.shinyText {
  display: inline-block;
  will-change: background-position;
}

@media (prefers-reduced-motion: reduce) {
  .shinyText {
    background-image: none !important;
    -webkit-text-fill-color: currentColor;
    color: currentColor;
  }
}
